<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199726420630-g3b1lp9qev7ue7flmnrissqojtb1rlvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199726420630-g3b1lp9qev7ue7flmnrissqojtb1rlvc</string>
	<key>API_KEY</key>
	<string>AIzaSyBdEBVQ2uaWmw9K6xzhrgdvsRSqtt08SVw</string>
	<key>GCM_SENDER_ID</key>
	<string>199726420630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hnslmp.tinder-clone</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-7f257</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-7f257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199726420630:ios:c97f5fe2c1f030e8b8e8b7</string>
</dict>
</plist>